# Arquivos de estado do Terraform
*.tfstate
*.tfstate.backup

# Diretório de estado local
.terraform/

# Arquivos de plano
*.tfplan

# Arquivos de override
override.tf
override.tf.json
*_override.tf
*_override.tf.json

# Arquivos de variáveis sensíveis
terraform.tfvars
*.tfvars

# Logs e saídas
crash.log
*.log

# Arquivos de configuração do Terraform CLI
.terraformrc
terraform.rc
